<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Find easily a doctor and book online an appointment">
	<meta name="author" content="Ansonika">
	<title>FINDOCTOR - Find easily a doctor and book online an appointment</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">
    
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

	<!-- BASE CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/menu.css" rel="stylesheet">
	<link href="css/vendors.css" rel="stylesheet">
	<link href="css/icon_fonts/css/all_icons_min.css" rel="stylesheet">
    
	<!-- YOUR CUSTOM CSS -->
	<link href="css/custom.css" rel="stylesheet">

</head>

<body>

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	<!-- End Preload -->
    
	<header class="header_sticky">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-6">
					<div id="logo">
						<a href="index.html" title="Findoctor"><img src="img/logo.png" data-retina="true" alt="" width="163" height="36"></a>
					</div>
				</div>
				<nav class="col-lg-9 col-6">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>
					<ul id="top_access">
						<li id="user">
							<a href="#0">
								<figure><img src="http://via.placeholder.com/150x150.jpg" alt=""></figure>
								Jhon Smith
							</a>
						</li>
					</ul>
					<div class="main-menu">
						<ul>
							<li class="submenu">
								<a href="#0" class="show-submenu">Home<i class="icon-down-open-mini"></i></a>
								<ul>
									<li><a href="index.html">Home Default</a></li>
									<li><a href="index-2.html">Home Version 2</a></li>
									<li><a href="index-3.html">Home Version 3</a></li>
									<li><a href="index-4.html">Home Version 4</a></li>
									<li><a href="index-7.html">Home with Map</a></li>
                                    <li><a href="index-6.html">Revolution Slider</a></li>
									<li><a href="index-5.html">With Cookie Bar (EU law)</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#0" class="show-submenu">Pages<i class="icon-down-open-mini"></i></a>
								<ul>
									<li class="third-level"><a href="#0">List pages</a>
										<ul>
                                            <li><a href="list.html">List page</a></li>
											<li><a href="grid-list.html">List grid page</a></li>
											<li><a href="list-map.html">List map page</a></li>
                                        </ul>
									</li>
									<li class="third-level"><a href="#0">Detail pages</a>
										<ul>
                                            <li><a href="detail-page.html">Detail page 1</a></li>
                                            <li><a href="detail-page-2.html">Detail page 2</a></li>
                                    		<li><a href="detail-page-3.html">Detail page 3</a></li>
											<li><a href="detail-page-working-booking.html">Detail working booking</a></li>
                                        </ul>
									</li>
									<li><a href="submit-review.html">Submit Review</a></li>
									<li><a href="blog-1.html">Blog</a></li>
									<li><a href="badges.html">Badges</a></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="login-2.html">Login 2</a></li>
									<li><a href="register-doctor.html">Register Doctor</a></li>
									<li><a href="register-doctor-working.html">Working doctor register</a></li>
									<li><a href="register.html">Register</a></li>
									<li><a href="about.html">About Us</a></li>
									<li><a href="contacts.html">Contacts</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#0" class="show-submenu">Extra Elements<i class="icon-down-open-mini"></i></a>
								<ul>
                                    <li><a href="booking-page.html">Booking page</a></li>
                                    <li><a href="confirm.html">Confirm page</a></li>
                                	<li><a href="faq.html">Faq page</a></li>
                                    <li><a href="coming_soon/index.html">Coming soon</a></li>
									<li class="third-level"><a href="#0">Pricing tables</a>
										<ul>
											<li><a href="pricing-tables-3.html">Pricing tables 1</a></li>
                                    		<li><a href="pricing-tables.html">Pricing tables 2</a></li>
                                    		<li><a href="pricing-tables-2.html">Pricing tables 3</a></li>
										</ul>
									</li>
									<li><a href="icon-pack-1.html">Icon pack 1</a></li>
									<li><a href="icon-pack-2.html">Icon pack 2</a></li>
									<li><a href="icon-pack-3.html">Icon pack 3</a></li>
									<li><a href="404.html">404 page</a></li>
								</ul>
							</li>
							<li><a href="#0">Buy this template</a></li>
						</ul>
					</div>
					<!-- /main-menu -->
				</nav>
			</div>
		</div>
		<!-- container -->
	</header>
	<!-- /Header -->	
	
	<main>
		<div id="breadcrumb">
			<div class="container">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Category</a></li>
					<li>Page active</li>
				</ul>
			</div>
		</div>
		<!-- /breadcrumb -->

		<div class="bg_color_1">
			<div class="container margin_120_95">
				<div class="main_title">
					<h1>About Findoctor</h1>
					<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
				</div>
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<figure class="add_bottom_30">
							<img src="http://via.placeholder.com/800x450.jpg" class="img-fluid" alt="">
						</figure>
					</div>
					<div class="col-lg-5">
						<p>Lorem ipsum dolor sit amet, homero erroribus in cum. Cu eos <strong>scaevola probatus</strong>. Nam atqui intellegat ei, sed ex graece essent delectus. Autem consul eum ea. Duo cu fabulas nonumes contentiones, nihil voluptaria pro id. Has graeci deterruisset ad, est no primis detracto pertinax, at cum malis vitae facilisis.</p>
						<p>Dicam diceret ut ius, no epicuri dissentiet philosophia vix. Id usu zril tacimates neglegentur. Eam id legimus torquatos cotidieque, usu decore <strong>percipitur definitiones</strong> ex, nihil utinam recusabo mel no. Dolores reprehendunt no sit, quo cu viris theophrastus. Sit unum efficiendi cu.</p>
						<p><em>CEO Marc Schumaker</em></p>
					</div>
				</div>
				<!--/row-->
			</div>
			<!--/container-->
		</div>
		<!--/bg_color_1-->
		
		<div class="container margin_120_95">
			<div class="main_title">
				<h2>Our founders</h2>
				<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
			</div>
			<div id="staff" class="owl-carousel owl-theme">
				<div class="item">
					<a href="detail-page.html">
						<div class="title">
							<h4>Julia Holmes<em>CEO</em></h4>
						</div><img src="http://via.placeholder.com/350x500.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="detail-page.html">
						<div class="title">
							<h4>Lucas Smith<em>Marketing</em></h4>
						</div><img src="http://via.placeholder.com/350x500.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="detail-page.html">
						<div class="title">
							<h4>Paul Stephens<em>Business strategist</em></h4>
						</div><img src="http://via.placeholder.com/350x500.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="detail-page.html">
						<div class="title">
							<h4>Pablo Himenez<em>Customer Service</em></h4>
						</div><img src="http://via.placeholder.com/350x500.jpg" alt="">
					</a>
				</div>
				<div class="item">
					<a href="detail-page.html">
						<div class="title">
							<h4>Andrew Stuttgart<em>Admissions</em></h4>
						</div><img src="http://via.placeholder.com/350x500.jpg" alt="">
					</a>
				</div>
			</div>
			<!-- /carousel -->
		</div>
		<!--/container-->
		
		<div class="bg_color_1">
			<div class="container margin_120_95">
				<div class="main_title">
					<h2>What user says about us</h2>
					<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
				</div>
				<div class="row">
			    <div class="col-md-4">
			        <div class="about-review">
                   <div class="rating">
                        <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i> <strong>Excellent!</strong>
                    </div>
                    <p>"Vel esse mucius omittantur ei. Nostrum fabellas similique ex qui, dolor semper mentitum ut est, ea nec mutat vocent. Animal commodo in quo, et nec zril dolor homero. Meis graece ad pro, mea simul discere no."</p>
					<div class="user_review">
						<figure><img src="http://via.placeholder.com/160x160.jpg"></figure>
                    	<h4>Dr. Joseph Luiss<span>Doctor</span></h4>
					</div>
			        </div>
			    </div>
			    <div class="col-md-4">
			     <div class="about-review">
                   <div class="rating">
                        <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i> <strong>Superb!</strong>
                    </div>
                    <p>"Ad agam dignissim has, posse melius dissentiet eam eu. Vel accusamus instructior ex, his ne omnes commodo efficiantur. Duo quod inani maluisset te, ea per alia minimum officiis."</p>
					<div class="user_review">
						<figure><img src="http://via.placeholder.com/160x160.jpg"></figure>
                    	<h4>Pablo Jemenez<span>User</span></h4>
					</div>
			        </div>
			    </div>
			    <div class="col-md-4">
			     <div class="about-review">
                   <div class="rating">
                        <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i> <strong>Very useful!</strong>
                    </div>
                    <p>"Duo omnis iudicabit quaerendum ut. Ius quis adipiscing ut. Id mea graeco fabulas. Pri iisque interpretaris at, per diam suscipiantur in, ut ludus labore iriure pro."</p>
					<div class="user_review">
						<figure><img src="http://via.placeholder.com/160x160.jpg"></figure>
                    	<h4>Marc Twain<span>User</span></h4>
					</div>
			        </div>
			    </div>
			</div>
			<!-- /row -->
			<div class="row">
			    <div class="col-md-4">
			        <div class="about-review">
                   <div class="rating">
                        <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i> <strong>Satisfied!</strong>
                    </div>
                    <p>"Elitr doming consetetur ut has, noluisse interesset te vis. Nemore habemus mea at, has no probo mucius omittam. Scripta numquam eruditi ad pri, quo docendi vivendum ea. "</p>
					<div class="user_review">
						<figure><img src="http://via.placeholder.com/160x160.jpg"></figure>
                    	<h4>Dr. Julia Roberts<span>Doctor</span></h4>
					</div>
			        </div>
			    </div>
			    <div class="col-md-4">
			     <div class="about-review">
                   <div class="rating">
                        <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i> <strong>Love it!</strong>
                    </div>
                    <p>"Unum justo sea ne, no facer intellegat vituperatoribus duo, vix an meliore expetendis. Ei pro liber regione consulatu. Est soleat molestie ad. Oblique oportere pertinacia eum ne."</p>
					<div class="user_review">
						<figure><img src="http://via.placeholder.com/160x160.jpg"></figure>
                    	<h4>Dr.John Doe<span>Doctor</span></h4>
					</div>
			        </div>
			    </div>
			    <div class="col-md-4">
			     <div class="about-review">
                   <div class="rating">
                        <i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i> <strong>Great Support!</strong>
                    </div>
					<p>"Lorem ipsum dolor sit amet, ne quas inermis nec, graece postea in nec. Eum propriae eligendi intellegam eu. Ius ei tation intellegat."</p>
					<div class="user_review">
						<figure><img src="http://via.placeholder.com/160x160.jpg"></figure>
                    	<h4>Lucas<span>User</span></h4>
					</div>
			        </div>
			    </div>
			</div>
			<!-- /row -->
			</div>
			<!--/container-->
		</div>
		<!--/bg_color_1-->
		
		<div class="container margin_120_95">
			<div class="main_title">
				<h2>Why Choose Findoctor</h2>
				<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<a class="box_feat_about" href="#0">
						<i class="pe-7s-id"></i>
						<h3>+ 5575 Doctors</h3>
						<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris.</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat_about" href="#0">
						<i class="pe-7s-help2"></i>
						<h3>H24 Support</h3>
						<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris. </p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat_about" href="#0">
						<i class="pe-7s-date"></i>
						<h3>Instant Booking</h3>
						<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris.</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat_about" href="#0">
						<i class="pe-7s-headphones"></i>
						<h3>Help Direct Line</h3>
						<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris. </p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat_about" href="#0">
						<i class="pe-7s-credit"></i>
						<h3>Secure Payments</h3>
						<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris.</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_feat_about" href="#0">
						<i class="pe-7s-chat"></i>
						<h3>Support via Chat</h3>
						<p>Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option, cu sit mazim libris. </p>
					</a>
				</div>
			</div>
			<!--/row-->
		</div>
		<!-- /container -->
		
	</main>
	<!-- /main -->
	
	<footer>
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-3 col-md-12">
					<p>
						<a href="index.html" title="Findoctor">
							<img src="img/logo.png" data-retina="true" alt="" width="163" height="36" class="img-fluid">
						</a>
					</p>
				</div>
				<div class="col-lg-3 col-md-4">
					<h5>About</h5>
					<ul class="links">
						<li><a href="#0">About us</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="#0">FAQ</a></li>
						<li><a href="login.html">Login</a></li>
						<li><a href="register.html">Register</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4">
					<h5>Useful links</h5>
					<ul class="links">
						<li><a href="#0">Doctors</a></li>
						<li><a href="#0">Clinics</a></li>
						<li><a href="#0">Specialization</a></li>
						<li><a href="#0">Join as a Doctor</a></li>
						<li><a href="#0">Download App</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4">
					<h5>Contact with Us</h5>
					<ul class="contacts">
						<li><a href="tel://61280932400"><i class="icon_mobile"></i> + 61 23 8093 3400</a></li>
						<li><a href="mailto:info@findoctor.com"><i class="icon_mail_alt"></i> help@findoctor.com</a></li>
					</ul>
					<div class="follow_us">
						<h5>Follow us</h5>
						<ul>
							<li><a href="#0"><i class="social_facebook"></i></a></li>
							<li><a href="#0"><i class="social_twitter"></i></a></li>
							<li><a href="#0"><i class="social_linkedin"></i></a></li>
							<li><a href="#0"><i class="social_instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-md-8">
					<ul id="additional_links">
						<li><a href="#0">Terms and conditions</a></li>
						<li><a href="#0">Privacy</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div id="copy">© 2017 Findoctor</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->

	<div id="toTop"></div>
	<!-- Back to top button -->

	<!-- COMMON SCRIPTS -->
	<script src="js/jquery-2.2.4.min.js"></script>
	<script src="js/common_scripts.min.js"></script>
	<script src="js/functions.js"></script>
     
</body>
</html>