<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Find easily a doctor and book online an appointment">
	<meta name="author" content="Ansonika">
	<title>FINDOCTOR</title>

	<!-- Favicons-->
	<link rel="shortcut icon" th:href="@{img/favicon.ico}" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" th:href="@{img/apple-touch-icon-57x57-precomposed.png}" >
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" th:href="@{img/apple-touch-icon-72x72-precomposed.png}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" th:href="@{img/apple-touch-icon-114x114-precomposed.png}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" th:href="@{img/apple-touch-icon-144x144-precomposed.png}">
    
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    
	<!-- BASE CSS -->
	<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{css/style.css}" rel="stylesheet">
	<link th:href="@{css/menu.css}" rel="stylesheet">
	<link th:href="@{css/vendors.css}" rel="stylesheet">
	<link th:href="@{css/icon_fonts/css/all_icons_min.css}" rel="stylesheet">
    
	<!-- YOUR CUSTOM CSS -->
	<link th:href="@{css/custom.css}" rel="stylesheet">

</head>

<body>

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->
        <!--
	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div>
	-->
	<!-- End Preload -->
    
	<header class="header_sticky">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-6">
					<div id="logo_home">
						<h1><a th:href="@{index}" title="Findoctor">Findoctor</a></h1>
					</div>
				</div>
				<nav class="col-lg-9 col-6">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>
					<ul id="top_access">
						<li><a th:href="@{patientLogin}"><i class="pe-7s-user"></i></a></li>
						<li><a th:href="@{register}"><i class="pe-7s-add-user"></i></a></li>
					</ul>
					<div class="main-menu">
						<ul>
							<li class="submenu">
								<a href="#0" class="show-submenu">Home<i class="icon-down-open-mini"></i></a>
								<ul>
									<li><a th:href="@{list}">Trouver tous les médecins disponibles</a></li>
									<li><a th:href="@{DoctorForm}">Gestion des médecins</a></li>
									<li><a th:href="@{register}">Sign up as a patient</a></li>
									<li><a th:href="@{register-doctor}">Admin Registration</a> </li>
									<li><a th:href="@{patientLogin}">Login d'un patient</a> </li>
									<li><a th:href="@{ListAdmin}">Liste d'admin</a> </li>
								</ul>
							</li>

						</ul>
					</div>
					<!-- /main-menu -->
				</nav>
			</div>
		</div>
		<!-- /container -->
	</header>
	<!-- /header -->
	
	<main>
		<div class="hero_home version_1">
			<div class="content">
				<h3>Trouver un médecin</h3>
				<p>
					à la recherche d'un médecin, tapez simplement la spécialisation que vous souhaitez .
				</p>
					</div>

			</div>
		</div>
		<!-- /Hero -->

		<div class="container margin_120_95">
			<div class="main_title">
				<h2>Découvrez le <strong>rendez-vous</strong> en ligne!</h2>
				<p>Découvrez la facilité des rendez-vous en ligne grâce à notre application .</p>
			</div>
			<div class="row add_bottom_30">
				<div class="col-lg-4">
					<div class="box_feat" id="icon_1">
						<span></span>
						<h3>Trouver un médecin</h3>
						<p>Trouvez facilement un médecin avec notre application .</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="box_feat" id="icon_2">
						<span></span>
						<h3>Voir le profil</h3>
						<p>Découvrez le profil détaillé de votre médecin grâce à notre fonctionnalité 'Voir le profil' </p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="box_feat" id="icon_3">
						<h3>Réserver une visite</h3>
						<p>Réservez facilement une visite médicale avec notre fonctionnalité de réservation en ligne .</p>
					</div>
				</div>
			</div>
			<!-- /row -->
			<p class="text-center"><a th:href="@{register}" class="btn_1 medium">Trouver un médecin</a></p>

		</div>
		<!-- /container -->

		<div class="bg_color_1">
			<div class="container margin_120_95">
				<div class="main_title">
					<h2>Most Viewed doctors</h2>
					<p>Usu habeo equidem sanctus no. Suas summo id sed, erat erant oporteat cu pri.</p>
				</div>
				<div id="reccomended" class="owl-carousel owl-theme">
					<div class="item">
						<a href="detail-page.html">
							<div class="views"><i class="icon-eye-7"></i>140</div>
							<div class="title">
								<h4>Dr. Julia Holmes<em>Pediatrician - Cardiologist</em></h4>
							</div><img src="http://via.placeholder.com/350x500.jpg" alt="">
						</a>
					</div>
					<div class="item">
						<a href="detail-page.html">
							<div class="views"><i class="icon-eye-7"></i>120</div>
							<div class="title">
								<h4>Dr. Julia Holmes<em>Pediatrician</em></h4>
							</div><img src="http://via.placeholder.com/350x500.jpg" alt="">
						</a>
					</div>
					<div class="item">
						<a href="detail-page.html">
							<div class="views"><i class="icon-eye-7"></i>115</div>
							<div class="title">
								<h4>Dr. Julia Holmes<em>Pediatrician</em></h4>
							</div><img src="http://via.placeholder.com/350x500.jpg" alt="">
						</a>
					</div>
					<div class="item">
						<a href="detail-page.html">
							<div class="views"><i class="icon-eye-7"></i>98</div>
							<div class="title">
								<h4>Dr. Julia Holmes<em>Pediatrician</em></h4>
							</div><img src="http://via.placeholder.com/350x500.jpg" alt="">
						</a>
					</div>
					<div class="item">
						<a href="detail-page.html">
							<div class="views"><i class="icon-eye-7"></i>98</div>
							<div class="title">
								<h4>Dr. Julia Holmes<em>Pediatrician</em></h4>
							</div><img src="http://via.placeholder.com/350x500.jpg" alt="">
						</a>
					</div>
				</div>
				<!-- /carousel -->
			</div>
			<!-- /container -->
		</div>
		<!-- /white_bg -->

		<div class="container margin_120_95">
			<div class="main_title">
				<h2>Trouvez votre médecin ou votre clinique</h2>
			</div>
			<div class="row justify-content-center">
				<div class="col-xl-4 col-lg-5 col-md-6">
					<div class="list_home">
						<div class="list_title">
							<i class="icon_pin_alt"></i>
							<h3>Recherche par ville</h3>
						</div>
						<ul name="specialite">
							<li><a th:href="@{ListFiltre(ville='Agadir')}" ><strong>1</strong>Agadir</a></li>
							<li><a  th:href="@{ListFiltre(ville='Ahfir')}"><strong>2</strong>Ahfir</a></li>
							<li><a th:href="@{ListFiltre(ville='Al Aaroui')}" ><strong>3</strong>Al Aaroui</a></li>
							<li><a th:href="@{ListFiltre(ville='Azrou')}"><strong>4</strong>Azrou</a></li>
							<li><a th:href="@{ListFiltre(ville='Beni Mellal')}" ><strong>5</strong>Beni Mellal</a></li>
							<li><a th:href="@{ListFiltre(ville='Berkane')}" ><strong>6</strong>Berkane</a></li>
							<li><a th:href="@{ListFiltre(ville='Bni Drar')}" ><strong>7</strong>Bni Drar</a></li>
							<li><a th:href="@{ListFiltre(ville='Bouarfa')}"><strong>8</strong>Bouarfa</a></li>
							<li><a th:href="@{ListFiltre(ville='Bouznika')}" ><strong>9</strong>Bouznika </a></li>
							<li><a th:href="@{ListFiltre(ville='Casablanca')}" ><strong>10</strong>Casablanca</a></li>
							<li><a th:href="@{ListFiltre(ville='Dakhla')}"><strong>11</strong>Dakhla</a></li>
							<li><a th:href="@{ListFiltre(ville='El Aïoun')}" ><strong>12</strong>El Aïoun</a></li>
							<li><a th:href="@{ListFiltre(ville='El Jadida')}" ><strong>13</strong>El Jadida</a></li>
							<li><a th:href="@{ListFiltre(ville='Errachidia')}"><strong>14</strong>Errachidia </a></li>
							<li><a th:href="@{ListFiltre(ville='Essaouira')}" ><strong>15</strong>Essaouira </a></li>
							<li><a th:href="@{ListFiltre(ville='Fès')}" ><strong>16</strong>Fès</a></li>
							<li><a th:href="@{ListFiltre(ville='Figuig')}" ><strong>17</strong>Figuig</a></li>
							<li><a th:href="@{ListFiltre(ville='Guercif')}" ><strong>18</strong>Guercif</a></li>
							<li><a th:href="@{ListFiltre(ville='Ifrane')}"><strong>19</strong>Ifrane</a></li>
							<li><a th:href="@{ListFiltre(ville='Jerada')}"><strong>20</strong>Jerada</a></li>
							<li><a th:href="@{ListFiltre(ville='Kénitra')}" ><strong>21</strong>Kénitra</a></li>
							<li><a th:href="@{ListFiltre(ville='Khénifra')}" ><strong>22</strong>Khénifra</a></li>
							<li><a th:href="@{ListFiltre(ville='Laayoune')}" ><strong>23</strong>Laayoune</a></li>
							<li><a th:href="@{ListFiltre(ville='Marrakech')}"><strong>24</strong>Marrakech</a></li>
							<li><a th:href="@{ListFiltre(ville='Meknès')}" ><strong>24</strong>Meknès</a></li>
							<li><a th:href="@{ListFiltre(ville='Mohammédia')}" ><strong>24</strong>Mohammédia</a></li>
							<li><a th:href="@{ListFiltre(ville='Nador')}" ><strong>24</strong>Nador</a></li>
							<li><a th:href="@{ListFiltre(ville='Ouarzazate')}"><strong>24</strong>Ouarzazate</a></li>
							<li><a th:href="@{ListFiltre(ville='Oujda')}"><strong>24</strong>Oujda </a></li>
							<li><a th:href="@{ListFiltre(ville='Rabat')}"><strong>24</strong>Rabat</a></li>
							<li><a th:href="@{ListFiltre(ville='Ras El Ma')}" ><strong>24</strong>Ras El Ma </a></li>
							<li><a th:href="@{ListFiltre(ville='Saïdia')}"><strong>24</strong>Saïdia</a></li>
							<li><a th:href="@{ListFiltre(ville='Settat')}" ><strong>24</strong>Settat</a></li>
							<li><a th:href="@{ListFiltre(ville='Taza')}" ><strong>24</strong>Taza</a></li>
							<li><a th:href="@{ListFiltre(ville='Témara')}"><strong>24</strong>Témara </a></li>
							<li><a th:href="@{ListFiltre(ville='Tanger')}" ><strong>24</strong>Tanger</a></li>
							<li><a th:href="@{ListFiltre(ville='Zaïo')}"><strong>24</strong>Zaïo</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-4 col-lg-5 col-md-6">
					<div class="list_home">
						<div class="list_title">
							<i class="icon_archive_alt"></i>
							<h3>Rechercher par type</h3>
						</div>
						<form id="myForm" th:action="@{listFiltre}" method="get">
						<ul>
							<li  onclick="myForm.submit();"><a  th:href="@{ListFiltre(specialite='allergologue')} " ><strong>1</strong>allergologue</a></li>
							<li><a th:href="@{ListFiltre(specialite='Cardiologue')}" ><strong>2</strong>Cardiologue</a></li>
							<li><a th:href="@{ListFiltre(specialite='Chiropracteur')}"><strong>3</strong>Chiropracteur</a></li>
							<li><a th:href="@{ListFiltre(specialite='Dentiste')}"><strong>4</strong>Dentiste</a></li>
							<li><a th:href="@{ListFiltre(specialite='Dermatologue')}" ><strong>5</strong>Dermatologue</a></li>
							<li><a th:href="@{ListFiltre(specialite='Gastro-entérologue')}" ><strong>6</strong>Gastro-entérologue</a></li>
							<li><a th:href="@{ListFiltre(specialite='Ophtalmologiste')}" ><strong>7</strong>Ophtalmologiste</a></li>
							<li><a th:href="@{ListFiltre(specialite='Optométriste')}" ><strong>8</strong>Optométriste</a></li>
							<li><a th:href="@{ListFiltre(specialite='Pédiatre')}"><strong>9</strong>Pédiatre</a></li>
							<li><a th:href="@{ListFiltre(specialite='Neurologue')}" ><strong>10</strong>Neurologue</a></li>
							<li><a th:href="@{ListFiltre(specialite='Chirurgien')}" ><strong>11</strong>Chirurgien</a></li>
							<li><a th:href="@{ListFiltre(specialite='Médecine familiale')}" ><strong>12</strong>Médecine familiale</a></li>
							<li><a th:href="@{ListFiltre(specialite='Anesthésiste')}" ><strong>13</strong>Anesthésiste</a></li>
							<li><a th:href="@{ListFiltre(specialite='Médecin généraliste')}" ><strong>14</strong>Médecin généraliste</a></li>
						</ul>
						</form>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>

	</main>
	<!-- /main content -->
	
	<footer>
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-3 col-md-12">
					<p>
						<a th:href="@{index}" title="Findoctor">
							<img th:src="@{img/logo.png}" data-retina="true" alt="" width="163" height="36" class="img-fluid">
						</a>
					</p>
				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-md-8">
					<ul id="additional_links">
						<li><a href="#0">Terms and conditions</a></li>
						<li><a href="#0">Privacy</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div id="copy">© 2023 Ehei</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->

	<div id="toTop"></div>
	<!-- Back to top button -->

	<!-- COMMON SCRIPTS -->
	<script th:src="@{js/jquery-2.2.4.min.js}"></script>
	<script th:src="@{js/common_scripts.min.js}"></script>
	<script th:src="@{js/functions.js}"></script>

</body>

</html>