<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Find easily a doctor and book online an appointment">
	<meta name="author" content="Ansonika">
	<title>FINDOCTOR - Find easily a doctor and book online an appointment</title>

	<!-- Favicons-->
	<link rel="shortcut icon" th:href="@{img/favicon.ico}" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" th:href="@{img/apple-touch-icon-57x57-precomposed.png}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" th:href="@{img/apple-touch-icon-72x72-precomposed.png}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" th:href="@{img/apple-touch-icon-114x114-precomposed.png}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" th:href="@{img/apple-touch-icon-144x144-precomposed.png}">

    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    
	<!-- BASE CSS -->
	<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{css/style.css}" rel="stylesheet">
	<link th:href="@{css/menu.css}" rel="stylesheet">
	<link th:href="@{css/vendors.css}" rel="stylesheet">
	<link th:href="@{css/icon_fonts/css/all_icons_min.css}" rel="stylesheet">
    
	<!-- YOUR CUSTOM CSS -->
	<link th:href="@{css/custom.css}" rel="stylesheet">

</head>

<body>

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->
	<!--
           <div id="preloader">
               <div data-loader="circle-side"></div>
           </div>
           End Preload -->
    
	<header class="header_sticky">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-6">
					<div id="logo">
						<a href="index.html" title="Findoctor"><img th:src="@{img/logo.png}" data-retina="true" alt="" width="163" height="36"></a>
					</div>
				</div>
				<nav class="col-lg-9 col-6">
					<a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>
					<ul id="top_access">
						<li><a href="login.html"><i class="pe-7s-user"></i></a></li>
						<li><a href="register-doctor.html"><i class="pe-7s-add-user"></i></a></li>
					</ul>
					<div class="main-menu">
						<ul>
							<li class="submenu">
								<a href="#0" class="show-submenu">Home<i class="icon-down-open-mini"></i></a>
								<ul>
									<li><a href="index.html">Home Default</a></li>
									<li><a href="EditDoctor.html">Home Version 2</a></li>
									<li><a href="index-3.html">Home Version 3</a></li>
									<li><a href="index-4.html">Home Version 4</a></li>
									<li><a href="index-7.html">Home with Map</a></li>
                                    <li><a href="index-6.html">Revolution Slider</a></li>
									<li><a href="index-5.html">With Cookie Bar (EU law)</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#0" class="show-submenu">Pages<i class="icon-down-open-mini"></i></a>
								<ul>
									<li class="third-level"><a href="#0">List pages</a>
										<ul>
                                            <li><a href="list.html">List page</a></li>
											<li><a href="grid-list.html">List grid page</a></li>
											<li><a href="list-map.html">List map page</a></li>
                                        </ul>
									</li>
									<li class="third-level"><a href="#0">Detail pages</a>
										<ul>
                                            <li><a href="detail-page.html">Detail page 1</a></li>
                                            <li><a href="detail-page-2.html">Detail page 2</a></li>
                                    		<li><a href="detail-page-3.html">Detail page 3</a></li>
											<li><a href="detail-page-working-booking.html">Detail working booking</a></li>
                                        </ul>
									</li>
									<li><a href="submit-review.html">Submit Review</a></li>
									<li><a href="blog-1.html">Blog</a></li>
									<li><a href="badges.html">Badges</a></li>
									<li><a href="login.html">Login</a></li>
									<li><a href="login-2.html">Login 2</a></li>
									<li><a href="register-doctor.html">Register Doctor</a></li>
									<li><a href="register-doctor-working.html">Working doctor register</a></li>
									<li><a href="register.html">Register</a></li>
									<li><a href="about.html">About Us</a></li>
									<li><a href="contacts.html">Contacts</a></li>
								</ul>
							</li>
							<li class="submenu">
								<a href="#0" class="show-submenu">Extra Elements<i class="icon-down-open-mini"></i></a>
								<ul>
                                    <li><a href="booking-page.html">Booking page</a></li>
                                    <li><a href="confirm.html">Confirm page</a></li>
                                	<li><a href="faq.html">Faq page</a></li>
                                    <li><a th:href="@{coming_soon/index.html}">Coming soon</a></li>
									<li class="third-level"><a href="#0">Pricing tables</a>
										<ul>
											<li><a href="pricing-tables-3.html">Pricing tables 1</a></li>
                                    		<li><a href="pricing-tables.html">Pricing tables 2</a></li>
                                    		<li><a href="pricing-tables-2.html">Pricing tables 3</a></li>
										</ul>
									</li>
									<li><a href="icon-pack-1.html">Icon pack 1</a></li>
									<li><a href="icon-pack-2.html">Icon pack 2</a></li>
									<li><a href="icon-pack-3.html">Icon pack 3</a></li>
									<li><a href="404.html">404 page</a></li>
								</ul>
							</li>
							<li><a href="#0">Buy this template</a></li>
						</ul>
					</div>
					<!-- /main-menu -->
				</nav>
			</div>
		</div>
		<!-- /container -->
	</header>
	<!-- /header -->
	<main>
		<div id="hero_register">
			<div class="container margin_120_95">
				<div class="row">
					<div class="col-lg-6">
						<h1>Il est temps de vous retrouver !</h1>
						<div class="box_feat_2">
							<i class="pe-7s-map-2"></i>
							<h3>Laissez les patients vous trouver!</h3>
							<p>Ut nam graece accumsan cotidieque. Has voluptua vivendum accusamus cu. Ut per assueverit temporibus dissentiet.</p>
						</div>
						<div class="box_feat_2">
							<i class="pe-7s-date"></i>
							<h3>Gérez facilement les réservations</h3>
							<p>Has voluptua vivendum accusamus cu. Ut per assueverit temporibus dissentiet. Eum no atqui putant democritum, velit nusquam sententiae vis no.</p>
						</div>
						<div class="box_feat_2">
							<i class="pe-7s-phone"></i>
							<h3>Réservez instantanément</h3>
							<p>Eos eu epicuri eleifend suavitate, te primis placerat suavitate his. Nam ut dico intellegat reprehendunt, everti audiam diceret in pri, id has clita consequat suscipiantur.</p>
						</div>
					</div>
					<!-- /col -->
					<div class="col-lg-5 ml-auto">
						<div>

							<!-- FORMUALIRE D'AJOUT -->

							<form th:action="@{save}" method="post">
								<div class="form-group">
									<label for="Nom">Nom</label>
									<input type="text" th:value="${docteur.nom}" name="nom" class="form-control" id="Nom" th:required="required" placeholder="Entrer votre nom">
								</div>
								<div class="form-group">
									<label for="Prenom">Prenom</label>
									<input type="text" th:value="${docteur.prenom}" name="prenom" class="form-control" id="Prenom" th:required="required" placeholder="Entrer votre prenom">
								</div>
								<div class="form-group">
									<label for="Adresse">Adresse</label>
									<input type="text" class="form-control" th:value="${docteur.adresse}" name="adresse" id="Adresse" th:required="required" placeholder="Entrer votre Adresse">
								</div>
								<div class="form-group">
									<label for="Email">Email</label>
									<input type="email" name="email" class="form-control" th:value="${docteur.email}" id="Email" th:required="required"  placeholder="Entrer votre email">
								</div>
								<div class="form-group">
									<label>Ville</label>
									<select class="browser-default custom-select show-tick" name="Ville" th:required="required" th:value="${docteur.ville}">
										<option selected></option>
										<option value="Ahfir">Ahfir</option>
										<option value="Al Azrou">Al Azrou</option>
										<option value="Beni Mellal">Beni Mellal</option>
										<option value="Berkane">Berkane</option>
										<option value="Bni Drar">Bni Drar</option>
										<option value="Bouarfa">Bouarfa</option>
										<option value="Bouznika">Bouznika </option>
										<option value="Casablanca">Casablanca</option>
										<option value="Dakhla">Dakhla</option>
										<option value="El Aïoun">El Aïoun</option>
										<option value="El Jadida">El Jadida</option>
										<option value="Errachidia">Errachidia</option>
										<option value="Essaouira">Essaouira</option>
										<option value="Fès">Fès</option>
										<option value="Figuig">Figuig</option>
										<option value="Guercif">Guercif</option>
										<option value="Ifrane">Ifrane</option>
										<option value="Jerada">Jerada</option>
										<option value="Kénitra">Kénitra</option>
										<option value="Khénifra">Khénifra</option>
										<option value="Laayoune">Laayoune</option>
										<option value="Marrakech">Marrakech</option>
										<option value="M'Diq">M'Diq</option>
										<option value="Meknès">Meknès</option>
										<option value="Nador">Nador</option>
										<option value="Ouarzazate">Ouarzazate</option>
										<option value="Oujda">Oujda</option>
										<option value="Rabat">Rabat</option>
										<option value="Ras El Ma">Ras El Ma</option>
										<option value="Saïdia">Saïdia</option>
										<option value="Settat">Settat</option>
										<option value="Taza">Taza</option>
										<option value="Saïdia">Saïdia</option>
										<option value="Témara">Témara</option>
										<option value="Tanger">Tanger</option>
										<option value="Zaïo">Zaïo</option>
									</select>
								</div>
								<div class="form-group">
									<label>specialization</label>
									<select class="browser-default custom-select show-tick" name="specialite" th:required="required" th:value="${docteur.specialite}">
										<option selected></option>
										<option value="Cardiologue">Cardiologue</option>
										<option value="Chiropracteur">allergologue</option>
										<option value="Dentiste">Dentiste</option>
										<option value="Dermatologue">Dermatologue</option>
										<option value="Gastro-entérologue">Gastro-entérologue</option>
										<option value="Ophtalmologiste">Ophtalmologiste</option>
										<option value="Pédiatre">Pédiatre</option>
										<option value="Neurologue">Neurologue</option>
										<option value="Chirurgien">Chirurgien</option>
										<option value="Médecine familiale">Médecine familiale</option>
										<option value="Anesthésiste">Anesthésiste</option>
										<option value="Médecin généraliste">Médecin généraliste</option>
									</select>
								</div>

								<div class="form-group">
									<label>Disponibilite</label>
									<select class="browser-default custom-select show-tick" name="Disponible"  th:required="required" th:value="${docteur.disponible}">
										<option selected></option>
										<option value="1">Disponible</option>
										<option value="0">Indisponible</option>
									</select>
								</div>

								<button type="submit" class="btn btn-primary mb-4">Ajouter</button>
							</form>
						</div>
						<!-- /box_form -->
					</div>
					<!-- /col -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /hero_register -->
	</main>
	<!-- /main -->

	<footer>
		<div class="container margin_60_35">
			<div class="row">
				<div class="col-lg-3 col-md-12">
					<p>
						<a th:href="@{index}" title="Findoctor">
							<img th:src="@{img/logo.png}" data-retina="true" alt="" width="163" height="36" class="img-fluid">
						</a>
					</p>
				</div>
				<div class="col-lg-3 col-md-4">
					<h5>About</h5>
					<ul class="links">
						<li><a href="#0">About us</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="#0">FAQ</a></li>
						<li><a href="login.html">Login</a></li>
						<li><a href="register.html">Register</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4">
					<h5>Useful links</h5>
					<ul class="links">
						<li><a href="#0">Doctors</a></li>
						<li><a href="#0">Clinics</a></li>
						<li><a href="#0">Specialization</a></li>
						<li><a href="#0">Join as a Doctor</a></li>
						<li><a href="#0">Download App</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4">
					<h5>Contact with Us</h5>
					<ul class="contacts">
						<li><a href="tel://61280932400"><i class="icon_mobile"></i> + 61 23 8093 3400</a></li>
						<li><a href="mailto:info@findoctor.com"><i class="icon_mail_alt"></i> help@findoctor.com</a></li>
					</ul>
					<div class="follow_us">
						<h5>Follow us</h5>
						<ul>
							<li><a href="#0"><i class="social_facebook"></i></a></li>
							<li><a href="#0"><i class="social_twitter"></i></a></li>
							<li><a href="#0"><i class="social_linkedin"></i></a></li>
							<li><a href="#0"><i class="social_instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--/row-->
			<hr>
			<div class="row">
				<div class="col-md-8">
					<ul id="additional_links">
						<li><a href="#0">Terms and conditions</a></li>
						<li><a href="#0">Privacy</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<div id="copy">© 2023 Ehei</div>
				</div>
			</div>
		</div>
	</footer>
	<!--/footer-->

	<div id="toTop"></div>
	<!-- Back to top button -->

	<!-- COMMON SCRIPTS -->
	<script th:src="@{js/jquery-2.2.4.min.js}"></script>
	<script th:src="@{js/common_scripts.min.js}"></script>
	<script th:src="@{js/functions.js}"></script>

</body>
</html>